.name {
    // font-family: 'Semibold';
    font-size: 2vw;
    // font-size: 1.6em;
    line-height: 80%;
    color: #111111;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5% 10% 5% 10%; 
    
}

.sub-header {
    // font-family: 'Semibold';
    font-size: 4.4vw;
    // font-size: 5em;
    line-height: 120%;
    color: #111111;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin: 5% 10% 5% 10%; 
}


@media only screen and (max-width: 750px) {
    .name {
      font-size: 4vw;
    }
  }


