.intro-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5% 10% 5% 10%; 
}

.intro-header {
  font-size: 6.4vw;
  font-weight: bold;
  font-family: 'Semibold';
  margin: 5% 0%; 
}

.intro-p1 {
    font-family: 'Medium';
    font-size: 2em;
    color: #111111;
    line-height: 140%;
    margin-bottom: 6vmin;
    overflow: hidden;
    font-weight: bold;
;
}

.intro-p2 {
    font-family: 'Semibold';
    font-size: 1.6em;
    color: #111111;
    line-height: 140%;
    margin-bottom: 6vmin;
    overflow: hidden;

}

.intro-p3 {
  font-family: 'Semibold';
  font-size: 1.6em;
  color: #111111;
  line-height: 140%;
  margin-bottom: 6vmin;
  overflow: hidden;

}

.intro-p4 {
  font-family: 'Semibold';
  font-size: 1.6em;
  color: #111111;
  line-height: 140%;
  margin-bottom: 6vmin;
  overflow: hidden;
  // margin: 5vmin 30vmin 188px 30vmin;
}